:root {
  --fontFamily: "qiuhong";
}
*,
html,
body {
  margin: 0;
  padding: 0;
  /* user-select: none; */
  cursor: url("./assets/img/mouse.png"), default !important;
}

html,body {
  overflow: hidden;
  /* background-image: url("https://fastly.jsdelivr.net/gh/gwt805/static/imgs/bk-navgation-websites.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-y: center;
}

@font-face {
  font-family: qiuhong;
  src: url("./assets/ttf/QiuHong_Zip.ttf"); /*  https://fastly.jsdelivr.net/gh/gwt805/static/otf/QiuHong_Zip.ttf*/
}

/* 滚动条 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: #00000000;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 253, 253, 0.3);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.5);
}

/*定义两端按钮的样式*/
::-webkit-scrollbar-button {
  display: none;
}

/*定义右下角汇合处的样式*/
::-webkit-scrollbar-corner {
  display: none;
}